* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: -apple-system, 'Montserrat', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: linear-gradient(89.77deg, #FEE140 0.22%, #FA709A 99.83%);
}

.preloarer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 200;
    background-color: #85FFBD;
    background-image: linear-gradient(90deg, #85FFBD 0%, #FFFB7D 100%);
}

.preloader__circle {
    width: 200px;
    height: 200px;
    border: 10px solid #45A3E7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 30px;
    animation: blick 0.5s infinite linear;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: blick 1s infinite linear;
}

@keyframes blick {
    0% {
        box-shadow: 0 0 0 #45A3E7;
    }
    50% {
        box-shadow: 0 0 40px #45A3E7;
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
}
    100% {
        box-shadow: 0 0 0 #45A3E7;
    }
}


/* left part styles  */
.left {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.currently {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 60px 47px -47px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.currently__city {
    font-style: normal;
    font-weight: 700;
    font-size: calc(30px + 1vw);
    line-height: calc(30px + 1vw);
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    transition: 0.3s linear;
    cursor: pointer;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.currently__city:hover {
    color: #45A3E7;
}

.currently__flag {
    height: calc(20px + 1vw);
    border-radius: 4px;
    margin-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.currently__weather-icon {
    width: 23%;
    margin: 20px 0;
}

.currently__text-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.currently__time {
    font-weight: 700;
    font-size: calc(20px + 1vw);
    line-height: calc(23px + 1vw);
    margin-bottom: 5px;
}

.currently__weather,
.currently__temperature {
    font-weight: 300;
    font-size: calc(10px + 1vw);
    line-height: calc(13px + 1vw);
}

.currently__temperature,
.currently__humidity {
    margin-left: 5px;
}

.currently__wind-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vw);
    line-height: calc(12px + 1vw);
    color: #ffffff;
    font-weight: 300;
    margin-top: 20px;
    position: relative;
    left: -10px;
}

.currently__wind-direction {
    height: calc(8px + 1vw);
    margin: 0 10px;
}

.currently__wind-speed {
    margin-left: 5px;
}

.currently__row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
}

.currently__info {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.currently__info-img {
    width: 47%;
    margin-bottom: 10px;
}

.currently__info-img[src="./images/img-description/max.png"],
.currently__info-img[src="./images/img-description/min.png"] {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 25px;
    position: relative;
    top: 10px;
}

.currently__info-img[src="./images/img-description/sunset.png"] {
    margin-bottom: 0;
    position: relative;
    top: -6px;
}

.currently__info-headline {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: calc(10px + 1vw);
    line-height: calc(11px + 1vw);
    display: flex;
    align-items: center;
    text-align: center;
}

.currently__info-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: calc(10px + 0.5vw);
    line-height: calc(11px + 0.5vw);
    display: flex;
    align-items: center;
    text-align: center;
}

.currently__hr {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px 0;
}

.currently__text-row {
    display: flex;
    font-size: calc(9px + 1vw);
    line-height: calc(10px + 1vw);
    color: #ffffff;
    font-weight: 300;
    position: relative;
    top: -5px;
}

.currently__text {
    font-size: calc(9px + 1vw);
    line-height: calc(10px + 1vw);
    display: flex;
    align-items: center;
    text-align: center;
}

.currently__by-hour-weather {
    height: 120px;
    width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.currently__row {
    align-items: flex-start;
}

.currently__hour-weather-icon {
    width: 100%;
    padding-bottom: 5px;
}

.currently__hour-weather-icon[src="./images/weather-status/scatteredClouds.png"] {
    padding-top: 12px;
}

.currently__by-hour-weather_active {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 7px;
    box-sizing: content-box;
    position: relative;
    top: -7px;
}

/* right part styles  */
.right {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.future {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 0;
}

.future__item {
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin: 0 0 15px 0;
    padding: 10px;
    box-shadow: 0px 20px 20px -15px rgba(0, 0, 0, 0.1);
}

.future__item:last-child {
    margin-bottom: 0;
}

.future__weather-icon {
    max-height: 100%;
    width: 20%;
    padding: 15px;
}

.future__column {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.future__headline {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: calc(8px + 0.8vw);
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.future__text-row {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: calc(5px + 0.8vw);
    line-height: calc(6px + 0.8vw);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.future__wind-direction {
    height: calc(4px + 0.8vw);
    margin-right: 0.8vw;
}

.future__info-img {
    width: 85%;
}

.future__text {
    text-align: center;
    margin-right: 4px;
    color: #ffffff;
    font-weight: 300;
}

.future__column_centered {
    align-items: center;
    justify-content: flex-start;
}

.future__column_centered .future__text {
    margin-top: 4px;
}

.future__vertical-hr {
    width: 5px;
    height: 90%;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.future__row {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.future__sun-block {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.future__sun-img {
    width: 70%;
}

.find {
    height: 30%;
    width: 60%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 35%;
    left: 20%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 60px 47px -47px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
}

.find__input {
    width: 60%;
    height: 50px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.find__btn {
    width: 30%;
    padding: 15px;
    background: #45A3E7;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.find__btn:hover {
    color: #45A3E7;
    background: #ffffff;
}

.find__placeholder {
    z-index: 2;
    font-size: 16px;
    position: relative;
    top: 35px;
    opacity: 0.2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

@media screen and (max-width: 980px) {
    .wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }

    .left,
    .right {
        min-height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .currently {
        height: 100%;
        width: 95%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .future {
        width: 95%;
        align-items: center;
        justify-content: center;
    }

    .future__item {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 650px) {
    .wrap {
        padding: 0;
        padding-bottom: 30px;
    }

    .left,
    .right {
        min-height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .currently {
        height: 100%;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .future {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .future__weather-icon {
        height: 70%;
        width: auto;
        align-self: center;
    }
}